*{
    margin: 0;
    padding:0;
    font-family: 'poppins',sans-serif;
    box-sizing:border-box;

}
html{
    scroll-behavior: smooth;
}
body{
    background:#f0eaea00 ;
    color:#ffffff;

}
.logo {
  width: 150px;               /* Adjust size */
  border-radius: 50%;         /* Make it circular */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add subtle shadow */
  transition: transform 0.3s ease; /* Smooth hover effect */

}
.logo:hover {
  transform: scale(1.05);     /* Slight zoom on hover */
}
#header{
    width: 100%;
    height:125vh;
    background-image:url(https://i.pinimg.com/736x/ff/da/57/ffda57ddfb52b7d68b824bfe8d9cd5a2.jpg);
    background-size:cover;
    background-position:center;

}
.container{
    padding: 10px 10%;
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap:wrap;
}
.logo{
    width:140px;
}
nav ul li{
    display:inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color:rgb(255, 255, 255);
    text-decoration: none;
    text-decoration: solid;
    font-size: 20px;
    position: relative;

}
nav ul li a::after{
    content:'';
    width:100%;
    height: 3px;
    background: #ffff3d;
    position:absolute;
    left: 0%;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top:30%;
    font-size: 40px;

}
.header-text h1{
 font-size: 60px;
 margin-top:50px;

}
.header-text h1 span{
    color:#edeb62;
    text:underline;

}
/*----------about---------*/
#about{
    padding: 80px 0;
    background-color: rgb(3, 3, 3);

}
.rwo{
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.about-col-1 img {
  width: 100%;
  max-width: 400px;
  border-radius: 15px;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
}
.about-col-1 {
    flex-basis: 35%;

}
.about-col-2{
   flex-basis: 60%; 
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color:#ce872f;
    
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content:'';
    width:0;
    height: 3px;
    background: #ce872f;
    position: absolute;
    left: 0;
    bottom:-8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width:50%;
    

}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
    
}
.tab-contents ul li span{
    color: #ce872f;
    font-size: 14px;

}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block;

}
/*-- ----services------ --*/
#services{
    background-color:rgb(0, 0, 0);
    padding:30px 0;

}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px ;
}
.services-list div{
    background:rgb(242, 230, 230);
    padding: 40px;
    font-size: medium;
    font-weight: 13px;
    font-weight: 300;
    border-radius: 10px;
    color: rgb(5, 4, 4);
}
.services-list div{
background: #8e8d8d;
padding: 40x;
font-size: 13px;
font-weight: 300;
border-radius: 10px;
transition: background 0.5s,transform 0.5s ;

}
.services-list div i{
    font-size: 50px;
    margin-top: 30px;
}
.services-list div h2{
    color:#13043d;
    font-family : 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    text-decoration: bold;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15x;
}
.services-list div a{
    text-decoration:none;
    color: black;
    font-size: 15px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #dcdc4b;
    transform:translateY(-10px);
}
/*-- ---------portfolio---------- --*/
#portfolio{
    background-color: black;
padding: 110px 0;

}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap:40px;
    margin-top:50px ;

}
.work{
    border-radius: 10px;
    position:relative;
    overflow: hidden;

}
.work img{
    width:100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;

}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.2),#000000);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding:0 40px ;
    text-align: center;
    transition: height 0.5s;
    



}
.layer h3{

    color:yellow;
    text-decoration: solid;
   
}
.layer a{
    margin-top:20px;
    color:#dcdc4b;
    text-decoration: none;
    font-size: 18px;
    border-radius: 50px;
    text-align: center;

}
.work:hover img{
 
  transform: scale(1.1) ; 
}
.work:hover.layer{
    height:100%;
}
.layer p{
    columns: white;
    text-align:inherit;
    padding: 15px;
}
.layer h2{
    color: #dcdc4b;
    text-align:end;

}

.layer a:hover{
     color:rgb(144, 236, 237);
    transform:translateY(-5px) ;

}
.work:hover .img{
    transform: scale(1.1);
}
.work:hover .layer{
    height:100%;
}
.fa-solid{
    color:white;
}
.btn{
    display: block;
    margin: 50px auto;
    width:fit-content;
    border: 1px solid #dc4b4b;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:rgb(253, 253, 253);
    transition: background 0.5s;
}
.btn:hover{
    background:#dc4b4b;
}


/*-- ---------contact-------- --*/
#Contact{
    background-color: black;
}
.contact-left{
  flex-basis: 40%;
  background-color: black;
}

.contact-right {
  flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;

}
.contact-left p i{
    color:#dcdc4b;
    margin-right: 15px;
    font-size: 25px;

}
.socaial-icons{
    margin-top: 30px;
}
.socaial-icons a{
    text-align: justify;
    text-decoration: none;
    font-size: 40px;
    margin-right: 15px;
    color:#ce872f;
    display: inline-block;
    transition: transform 0.5s;
}
.socaial-icons a:hover{
    color: #96e5ea;
    transform:translateY(-5px) ;

}
.btn.btn2{
    display: inline-block;
    background:#dc4b4b;

}
.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: #dc4b4b;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #ebe5e5;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding :14px 60px;
    font-family: 18px;
    margin-top:20px;
    cursor: pointer;

}
.copyright{
    color: white;
    width: 100%;
    text-align: center;
    padding-left: 25px 0;
    background:#262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: red;
}
/*---------------css for small screens---------------*/
nav .fa-solid{
    display:none;
}

@media only screen and (max-width:600px){
    #header{
        background-image: url(https://i.pinimg.com/736x/22/15/54/221554c36d8246c9eea340ae5b8b79be.jpg);
    }
    .fa-solid{
        color:white;
    }
    .header-text {
margin-top:50%;
font-size:30px;
    }
    .header-text h1{
        font-size: 39px;
    }
    nav .fa-solid{
    display:block;
    font-size:25px ;
}
nav ul{
    background:#262626;
    position: fixed;
    top:0;
    right:-200px;
    width: 200px;
    height: 100vh;
    padding:50px;
    z-index: 2;
    transition: right 0.5s;

      }
      nav ul li{
        display: block;
        margin:25px;
      }
      nav ul  .fa-solid{
        position: absolute;
        top:25px;
        left:25px;
        cursor: pointer;
      }
     .sub-title{
        font-size: 40px;

     }
     .about-col-1, .about-col-2{
       flex-basis: 100%; 

     }
     .about-col-1{
        margin-bottom:30px ;
     }
     .about-col-2{
        font-size: 14px;
     }
     .tab-links{
        font-size: 16px;
        margin-right:20px;
     }
     .contact-left, .contact-right{
        flex-basis:100%;

     }
     .copyright{
        font-size:14px;
     }
}
#msg{
    color: #76f659;
    margin-top: -40px;
    display: block;
}










